---
layout: default
meta_title: A Movement to Stop the COVID-19 Pandemic
meta_description: Our governments can't do it alone, we have to take action now! Do your part and stay the fuck home!
body_class: home
title: '#StayTheFuckHome'
lang: id
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>
        <h2 class="page-subtitle">Sebuah Gerakan untuk Menghentikan Pandemi COVID-19</h2>

        <div class="content">

            <p class="text-xl">
                Pemerintah kita terlalu lambat dalam menerapkan langkah-langkah pengendalian penyebaran <a href="https://en.wikipedia.org/wiki/Severe_acute_respiratory_syndrome_coronavirus_2">SARS-CoV-2</a> dan pengendalian <a href="https://en.wikipedia.org/wiki/Coronavirus_disease_2019">pandemi COVID-19</a>. Reaksi lambat, kebijakan yang hanya fokus untuk mengurangi kepanikan, dan keinginan pemerintah untuk menstabilkan ekonomi membuat mereka tidak mengambil langkah-langkah yang diperlukan untuk melindungi jutaan orang dari penyakit ini. Tapi, bukan hanya pemerintah yang bertanggung jawab atas kesehatan masyarakat. Sudah saatnya bagi kita, penduduk bumi, untuk sama-sama mengambil tindakan dan mengambil bagian dalam memerangi COVID-19.
                <br /><br />
                Blak-blakan saja: <strong>Stay The Fuck Home!</strong>
            </p>

            <h2 class="text-3xl">Manifesto Karantina Mandiri</h2>

            <p>
                Belum adanya pengobatan yang teruji dan vaksin yang siap digunakan untuk, setidaknya, satu tahun ke depan, satu-satunya cara yang efektif untuk menahan pandemi coronavirus adalah dengan mengurangi kemungkinan penyebaran virus. Tindakan-tindakan berikut, diurutkan dari yang paling mudah dilakukan hingga yang paling efektif melawan pandemi, berfungsi sebagai pedoman sederhana untuk orang-orang yang ingin bergabung dalam gerakan ini dan mengambil tindakan yang benar-benar dapat membuat perubahan.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12">
                <li class="pb-2">Jangan panik, tapi tetap waspada.</li>
                <li class="pb-2">Sering-sering cuci tangan dan lakukan etika batuk dan bersin dengan baik.</li>
                <li class="pb-2">Hindari menyentuh wajah, termasuk mulut, hidung, dan mata.</li>
                <li class="pb-2">Jaga jarak dengan orang lain, jangan peluk dan cium, jangan berjabat tangan, jangan tos. Jika perlu, gunakan alternatif yang lebih aman.</li>
                <li class="pb-2">Jangan pergi ke konser, pertunjukan, pertandingan olahraga, atau kegiatan hiburan massal lainnya.</li>
                <li class="pb-2">Jangan dulu pergi ke museum, pameran, bioskop, klub malam, dan tempat hiburan lainnya.</li>
                <li class="pb-2">Hindari keramaian dan acara yang dihadiri banyak orang, seperti pertemuan komunitas, ibadah massal, dan pesta.</li>
                <li class="pb-2">Hindari bepergian. Jangan bepergian ke luar kota apabila tidak benar-benar perlu.</li>
                <li class="pb-2">Hindari penggunaan kendaraan umum apabila tidak benar-benar perlu.</li>
                <li class="pb-2">Apabila Anda dapat bekerja dari rumah (<i>work from home</i>), bekerjalah dari rumah. Desak atasan Anda untuk memperbolehkan bekerja remote apabila diperlukan.</li>
                <li class="pb-2">Ganti sebanyak mungkin interaksi sosial dengan alternatif interaksi jarak jauh, seperti telpon atau <i>video call</i>.</li>
                <li class="pb-2">Jangan keluar rumah kecuali benar-benar perlu.</li>
            </ol>

            <p class="text-xl">
                Harap diingat bahwa tidak ada jumlah tindakan yang benar atau salah. Hanya lakukan tindakan yang nyaman untuk Anda lakukan dan jangan mengorbankan kehidupan Anda. <strong>Jangan keluar dari pekerjaan Anda karena ini!</strong> Namun, harap diingat bahwa setiap tindakan dapat membantu.
            </p>

            <h2 class="text-3xl">Pentingnya Mengikuti Gerakan Ini</h2>

            <p
                SARS-CoV-2 adalah virus yang sangat menular dan berpotensi mematikan, yang menyebabkan penyakit pernapasan yang disebut COVID-19. Anda mungkin mengenalnya dengan nama lain, termasuk 2019-nCoV, novel coronavirus, coronavirus Wuhan, flu Wuhan atau flu Cina, atau sekadar coronavirus. Semua ini merujuk pada virus yang sama yang berusaha dihentikan oleh gerakan ini.
            </p>

            <p>
                Over the past months and weeks, the virus and corresponding disease have been compared over and over to the influenza virus and the seasonal flu.
                Due to the overlap in symptoms and seemingly similar severity, this comparison comes naturally to a lot of people,
                however, looking at what we know so far about this new virus, the threat it poses to society is not easily brushed aside.
            </p>

            <ol class="text-xl mb-12 list-decimal pl-12 font-bold">
                <li class="pb-2">
                    <h3>Lebih Menular Dibanding Flu Biasa</h3>
                    <p class="font-normal">
                        Dengan perkiraan R0 (perkiraan jumlah kasus yang muncul karena ditularkan langsung oleh satu kasus dalam suatu populasi di mana semua individu rentan terhadap infeksi) antara 1,4&ndash;6.49 dan rata-rata sekitar 3.28<sup><a class="source-link" href="https://academic.oup.com/jtm/advance-article/doi/10.1093/jtm/taaa021/5735319" target="_blank">[1]</a></sup>,
                        SARS-CoV-2 jauh lebih mudah menjangkiti dan menyebar lebih cepat ketimbang flu musiman, yang punya median R0 sebesar 1.28<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/25186370" target="_blank">[2]</a></sup>.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Lebih Mematikan Ketimbang Flu</h3>
                    <p class="font-normal">
                        Angka fatalitas kasus (<i>case fatality rate</i> atau CFR) dari SARS-CoV-2 diperkirakan sekitar 2%<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32146445" target="_blank">[3]</a></sup>&mdash;yang artinya, sekitar 2% orang yang didiagnosis dengan COVID-19 akan meninggal karenanya. Sebagai perbandingan, CFR flu musiman diperkirakan sekitar 0,1%<sup><a class="source-link" href="https://www.cdc.gov/flu/about/burden/2018-2019.html" target="_blank">[4]</a></sup>, yang berarti SARS-CoV-2 diperkirakan sekitar 20 kali lebih mematikan daripada flu musiman.
                    <p>
                </li>
                <li class="pb-2">
                    <h3>Kemungkinan Timbulnya Gejala-Parah</h3>
                    <p class="font-normal">
                        Diperkirakan 15&ndash;20% orang yang terinfeksi menderita gejala parah yang memerlukan perhatian medis<sup><a class="source-link" href="https://www.ncbi.nlm.nih.gov/pubmed/32064853" target="_blank">[5]</a></sup>, termasuk radang paru (pneumonia) dengan sesak napas dan turunnya konsentrasi oksigen dalam darah.
                    </p>
                </li>
                <li class="pb-2">
                    <h3>Tidak Ada Pengobatan, Tidak Ada Vaksin, Tidak Ada Imunitas</h3>
                    <p class="font-normal">
                        Karena SARS-CoV-2 baru saja muncul, tidak ada pengobatan yang sudah teruji ampuh untuk COVID-19 dan penelitian lebih lanjut masih diperlukan untuk mengobati orang yang terinfeksi. Selain itu, belum ada vaksin/imunisasi untuk SARS-CoV-2<sup><a class="source-link" href="https://www.cdc.gov/coronavirus/2019-ncov/about/prevention-treatment.html" target="_blank">[6]</a></sup> dan perlu banyak waktu untuk mengembangkan vaksin semacam itu. Tanpa vaksin dan tanpa adanya kekebalan (imunitas) dalam tubuh manusia terhadap virus ini, semua orang dapat dengan mudah terinfeksi. Meskipun sebagian besar orang yang terinfeksi hanya akan menderita gejala ringan, tidak adanya imunitas kelompok (<i>herd immunity</i>) ini dapat menyebabkan penyakit parah pada sejumlah besar individu yang berisiko, seperti lansia, orang-orang dengan penyakit bawaan, dll.
                </li>
                <li class="pb-2">
                    <h3>Pertumbuhan Eksponensial</h3>
                    <p class="font-normal">
                        Karena ketiadaan kekebalan terhadap virus baru ini, seluruh umat manusia dapat terinfeksi virus ini. Dan meskipun pertumbuhan eksponensial selalu terlihat lambat di awal, pertumbuhannya akan menjadi sangat cepat dan jumlah kasus akan naik secara signifikan dalam waktu singkat. Dengan jumlah kasus saat ini yang berlipat ganda dalam hitungan hari<sup><a class="source-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports/" target="_blank">[7]</a></sup>, rumah sakit dan fasilitas kesehatan kita tidak akan mampu merawat seluruh pasien dan mengakibatkan jumlah kematian yang tinggi
                    </p>
                </li>
            </ol>

            <p class="text-2xl">
                Dengan bergabung dalam gerakan ini, Anda tidak hanya melindungi diri sendiri, tetapi Anda juga membantu menahan dan membatasi penyebaran virus ke banyak orang, terutama orang-orang yang berisiko tinggi terinfeksi dan menderita gejala-parah dari virus ini.<br /><br />

                <strong>Kalau Anda peduli dengan masalah ini, bagikan halaman ini di media sosial, e-mail, atau beri tahu teman, kerabat, dan keluarga Anda tentang gerakan ini. Tapi tolong untuk tetap #StayTheFuckHome.</strong>
            </p>

            <div class="flex justify-center pb-12">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Saya akan melakukan apa yang saya bisa dalam melawan #COVID19. Ayo bantu saya!" data-url="https://staythefuckhome.com" data-hashtags="StayTheFuckHome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe class="ml-6" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fstaythefuckhome.com&layout=button_count&size=large&appId=764658637392408&width=111&height=28" width="111" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>

            <p class="text-sm text-gray-500 mb-10 mt-10">
                Kepada siapapun yang ingin berkontribusi ke situs dan gerakan #StayTheFuckHome, kami telah menjadikan situs ini open-source agar semua orang bisa berkontribusi. Temukan repository GitHub-nya di sini: <a href="https://github.com/flore2003/staythefuckhome" target="_blank">https://github.com/flore2003/staythefuckhome</a>
                <br />
                Jika anda memiliki masukan mengenai konten situs ini, mohon kirimkan ke <a href="mailto:contribute@staythefuckhome.com">contribute@staythefuckhome.com</a>.
                Namun, harap diingat bahwa saat ini kami menerima banyak sekali e-mail, sehingga mungkin kami tidak bisa langsung merespons e-mail Anda.
            </p>

            <p class="text-sm text-gray-500 pt-12 max-w-4xl mx-auto">
                <strong>Disclaimer:</strong> Isi dari situs ini bukan merupakan saran medis. Informasi yang diberikan di situs ini hanya saran untuk orang-orang yang mau mengikuti panduan sederhana berdasarkan pengalaman melindungi diri dan orang-orang tersayang. Tidak ada jaminan atau bukti ilmiah yang menunjukkan bahwa panduan ini akan mengurangi jumlah infeksi baru atau bahkan menghentikan epidemi COVID-19. Juga tidak ada jaminan bahwa dengan mengikuti panduan ini, risiko terinfeksi SARS-CoV-2 atau penyakin lain akan berkurang. Seluruh informasi yang ada di situs ini diberikan dengan maksud dan harapan untuk menyediakan informasi faktual. Dalam keadaan apa pun, operator situs web tidak bertanggung jawab atas klaim, kerusakan, atau kewajiban lainnya. Jika Anda memiliki masalah atau komentar tentang informasi yang disediakan di situs web ini, mohon kirim e-mail ke <a class="text-gray-600 hover:text-pink-500" href="mailto:inquiry@staythefuckhome.com">inquiry@staythefuckhome.com</a>.
            </p>

        </div>

    </section>

</main>
